{% extends "page.njk" %}
{% from "components/radios/macro.njk" import govukRadios %}
{% from "moj/components/banner/macro.njk" import mojBanner %}

{% block innerContent %}

    <h1 class="govuk-heading-xl">Chat to an adviser online</h1>

    <p class="govuk-body">You can use this chat for general enquiries.</p>
    <p class="govuk-body">You <strong>cannot</strong> discuss the details of your claim here. Instead, you can:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>email <a href="mailto:info@cica.gov.uk">info@cica.gov.uk</a></li>
        <li>call 0300 003 3601</li>
    </ul>
    <p class="govuk-body">The chat is available from 10am to 3pm, Monday to Friday.</p>

    {#
        web chat querystring parameters:
         * recId - GUID
         * locale - string
         * name - string
         * email - string
         * subject - string
         * region - string
         * url - URL
    #}
    <a href="/chat?recId=6221d2d5-b8e2-4103-bc7d-c5f66eb2a3dc" class="govuk-button" open-new-window='{"width": "380", "height": "700"}'>Start a chat</a>

{% endblock %}